# Assignment 1

In [1]:
# read neccessary libraries
import numpy as np
import pandas as pd
pd.options.display.max_rows = 20
np.set_printoptions(precision = 4, suppress = True)

### Manufacturing processes
The file listed below contains data on a manufacturing process. Certain configurations of biological materials and manufacturing processes result in a specific yield. Compute the average yield over all records and assign that value to the variable *avg_yield*.

In [4]:
file = 'manufacturing.csv'

# YOUR CODE HERE
df = pd.read_csv(file)
avg_yield = df["Yield"].mean()


# YOUR CODE ENDS HERE

40.17653409090909

The file contains some missing data. Calculate the number of records that are not complete. Assign that number to the variable *num_missing*.

In [10]:
# YOUR CODE HERE
num_missing = df.isnull().sum().sum()

# YOUR CODE ENDS HERE

106

The column **ManufacturingProcess03** contains some missing values. Replace the missing value with the number 1.0 and calculate the mean of this column. Assign the result to the variable *avg_mp3*.

In [11]:
# YOUR CODE HERE
avg_mp3 = df["ManufacturingProcess03"].fillna(1.0)
# YOUR CODE ENDS HERE

### Population of Amsterdam in 2018
The URL listed below contains tables on the demographics of Amsterdam. Use pandas commands to assign the **population estimate of 2018-01-01** in **Amsterdam** to the variable *population*.

In [58]:
import requests
import json
import codecs

url = 'https://www.citypopulation.de/php/netherlands-admin.php?adm2id=0363'



# YOUR CODE HERE
d= requests.get(url)
decoded_data=codecs.decode(d.text.encode(), 'utf-8-sig')
df=pd.read_html(decoded_data)
population = df[0].iloc[0, 6]
# YOUR CODE ENDS HERE

862965

Which fraction of the total population is that? Assign that value to the variable *fraction*.

In [64]:
# YOUR CODE HERE
totalpop = df[0].iloc[1,6]
fraction = population/totalpop
# YOUR CODE ENDS HERE

,Name,Status,PopulationCensus2001-01-01,PopulationEstimate2008-01-01,PopulationEstimate2011-01-01,PopulationEstimate2015-01-01,PopulationEstimate2019-01-01,Unnamed: 7
0,Amsterdam,Municipality,734533,747093,779808,821752,862965,NaN
1,Nederland [Netherlands],Country,15985538,16405399,16655799,16900726,17282163,NaN

### Food database
The file listed below contains a database on food products. Read the file and count the number of unique categories in the group variable. Assign that number to the variable *num_categories*.

In [71]:
import json
file = 'database.json'
# YOUR CODE HERE
df=pd.read_json(file)
num_categories = df['group'].nunique()
# YOUR CODE ENDS HERE

Count the number of products that are mentioned in the **Baby Foods** group. Assign that number to the variable *baby_total*.

In [124]:
# YOUR CODE HERE
df2=df.loc[df['group'] == 'Baby Foods']

df3=df2['description']
df4=len(df3)

baby_total =df4

# YOUR CODE ENDS HERE

209

### Bus database
The following XML file contains records on the LI Bus service. Read in the XML and count the number of records present in the file. Assign that number to the variable *num_records*.

In [125]:
from lxml import objectify
file = 'libus.xml'
parsed = objectify.parse(open(file))
root = parsed.getroot()
# YOUR CODE HERE
num_records = root.countchildren()

# YOUR CODE ENDS HERE

480